<div class="text-center">
  <main class="form-signin">
      <form>
        <img class="my-3 logo" src="../../assets/goose.png" alt="" width="72" height="57">
        <h1 class="display-2 mb-3 fw-normal">Login</h1>
  
        <div class="form-floating my-1">
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="floatingUsername" placeholder="Username" required>
            <label for="floatingEmail">Username</label>
          </div>

        <div class="form-floating my-1">
          <input type="password" class="form-control" [(ngModel)]="password" name="password"id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <h3 class="my-2">{{loginError}}</h3>
        <button class="w-100 btn btn-lg btn-success" type="submit" (click)="clickedLogin()">Login</button>
      </form>
    </main>
  
</div>