.chat-img {
    float: left;
    width: 48px;
    border-radius: 50%;
}
.chat-box{
    padding: 1rem;
    width:50rem;
    border-color: black;
    border-radius: 15px;
    border-style: groove;

}
.flex{
    display: flex;
}