<div class="container">
  <form>
    <h1 class="h3 mb-3 font-weight-normal">Chat</h1>
    <label for="text" class="sr-only">Text</label>
    <input
      type="text-field"
      id="text"
      class="form-control"
      [(ngModel)]="newMessage"
      name="newMessage"
      placeholder="Enter:"
      required
      autofocus
    />
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      (click)="newMessageEntered()"
    >
      Send
    </button>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let message of messages">
        <span>
          <img src="{{message.imagePath}}" class="chat-img mx-3" onerror="this.src='assets/images/user.jpg'"  alt="">
          <p class="my-3">{{message.senderUsername}}:  {{message.message}}</p>
        </span>
      </li>
    </ul>
  </form>
  
  
</div>