<div class="container">
  
  <div class="row">
    <h2 class="justify-content-center">Welcome _USER_ to Goosechat</h2>
    <div class="col-auto">
      <div class="card cards-styling">
        <form class="card-body">
          <!-- Add group form -->
          <div class="form-group">
            <h5 class="card-title justify-content-centre">Create New Group</h5>
            <label for="groupName">Group Name</label>
            <input
              type="text"
              class="form-control"
              required
              [(ngModel)]="newGroupName"
              name="newGroupName"
              id="groupName"
            />
          </div>
          <div class="form-group my-2">
            <label for="description">Group description</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newDescription"
              name="newDescription"
              id="description"
            />
          </div>
          <button class="btn btn-primary" (click)="addNewGroup()">
            Add Group
          </button>
          <p>{{ groupError }}</p>
        </form>
      </div>
    </div>
    <!-- Loop through all groups and display in cards -->

    <div class="col-auto" *ngFor="let group of groups; index as idx">
      <div class="card cards-styling">
        <div class="card-body">
          <h5 class="card-title">{{ group.groupName }}</h5>
         
          <p class="card-text">{{ group.description }}</p>
          <p>Users in group: {{ group.users.length }}</p>
          <p>Channels in group: {{ group.channels.length }}</p>
          <span class="mt-2">
            <button class="btn btn-primary mx-1" [routerLink]="['/group', group._id]">
              Enter
            </button>
            <button class="btn btn-success mx-1" (click)="deleteGroup(group._id, idx)">
              Edit
            </button>
            <button class="btn btn-danger mx-1" (click)="deleteGroup(group._id, idx)">
              Delete
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
