<div class="container">
  
  <div class="row">
    <h2 class="display-2">Welcome _USER_ to Goosechat</h2>
    <div class="col-auto" *ngIf="authService.isAdmin()">
      <div  class="card cards-styling">
        <div class="card-body">
          <app-add-group *ngIf="!groupToEdit"(getAllGroups)="getAllGroups()"></app-add-group>
          <app-update-group *ngIf="groupToEdit" [group]="groupToEdit" (getAllGroups)="getAllGroups()"></app-update-group>
        </div>
      </div>
    </div>
    <!-- Loop through all groups and display in cards -->

    <div class="col-auto" *ngFor="let group of groups; index as idx">
      <div *ngIf="authService.isUser(group.users)"class="card cards-styling">
        <div class="card-body">
          <h5 class="card-title">{{ group.groupName }}</h5>
          <p class="card-text">{{ group.description }}</p>
            <p class="card-text" >Users in group: {{ group.users.length }}</p>
       
           
          <p>Channels in group: {{ group.channels.length }}</p>
          <span class="mt-2">
            <button class="btn btn-primary mx-1" [routerLink]="['/group', group._id]">
              Enter
            </button>
            <button class="btn btn-success mx-1" (click)="editGroup(idx)"  *ngIf="authService.isAdmin()">
              Edit
            </button>
            <button class="btn btn-danger mx-1" (click)="deleteGroup(group._id)"  *ngIf="authService.isAdmin()">
              Delete
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
