/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.body-content{
    margin-top: 70px;
}

.cards-styling{
    width:20rem;
    border-color: black;
    border-radius: 15px;
    box-shadow: 5px 8px 4px grey;
    margin: 0.5rem;
}
.edit-button{
    width: 5px;
    max-height: 5px;
}
.userDisplay{
    margin-right: 1rem;
    display: inline-block;
}
